@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 15 / 18 / 22 / 28 / 30 / 35 / 44 / 52 / 62 / 74 / 86 / 100

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
35px
30px
40px
95px

--- 02 COLORS

- Primary: #C5945C  #ffffff  #13111B  #1A1925
- Tints:
  #3B3943
  #2F2D3C
- Shades: 


- Accents:

- Greys



--- 05 SHADOWS



--- 06 BORDER-RADIUS



--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #ffffff;
  font-weight: 400;
  overflow-x: hidden;
}

/* Common Class */
.container {
  padding: 0 6rem 0 15rem;
  height: 100%;
  width: 100%;
}

main {
  padding-bottom: 9rem;
  background-color: #1a1925;
}

.realtive {
  position: relative;
}

.absolute {
  position: absolute;
}

.section {
  padding: 9rem 0;
  background-color: #1a1925;
}

/* Display flex */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

/* PADDING */
.pad3 {
  padding: 3rem;
}

/* PARAGRAPH */
.primary-paragraph {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: normal;
  font-weight: 500;
  /* text-align: center; */
}

.secondary-paragraph {
  font-size: 22px;
  line-height: 35px;
  text-align: start;
  letter-spacing: normal;
  color: #c5945c;
}

.tertary-paragraph {
  font-size: 15px;
  line-height: 30px;
  text-align: start;
  letter-spacing: normal;
  color: #fff;
}

/* HEADING */
.primary-heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 500;
  color: #c5945c;
  /* text-align: center; */
}

.secondary-heading {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: normal;
  font-weight: 500;
  color: #c5945c;
  /* text-align: center; */
}

/* MARGIN */

.margin-b5 {
  margin-bottom: 4.8rem;
}

.margin-semi {
  margin-bottom: 2.4rem;
}
.margin-b2 {
  margin-bottom: 1.6rem;
}

.margin-t5 {
  margin-top: 9rem;
}

/* IMAGES */
img.lazyload {
  opacity: 0;
  transition: opacity 0.3s;
}

img.lazyload.loaded {
  opacity: 1;
}
